language: php

matrix:
    include:
        - php: 5.5
        - php: 5.6
    fast_finish: true

before_install:
  - composer self-update

install:
  - composer install

before_script:
  - curl http://get.sensiolabs.org/php-cs-fixer.phar -o php-cs-fixer

script:
  - php php-cs-fixer -v fix . --dry-run
  - phpunit
